@import "react-slideshow-image/dist/styles.css";
.attribute {
    display: flex;
    /* background-color: coral; */
    margin-bottom: 20px;

    
    
}
.attribute h1{
    width: 400px;
    font-size: 24px;
    color:cadetblue;

}
.launchView{
    max-width: 1000px ;
    margin: auto;
    margin-top:50px;
    
}
.launchView .description {
    color:darkgrey;  
    font-size: 20px;
    margin-bottom: 20px;
    margin-top:10px;    

}
.launchView img{
    width:500px;
    height: 500px;
}
